/* carousel-custom.css */
/*
.carousel .slide {
  background: none !important;
}

.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
}

.carousel .carousel-slider {
  display: flex;
  justify-content: flex-start; // align the images to the left
}

.carousel .carousel-slider img {
  object-fit: none; // prevent stretching
  max-width: 40%; // adjust this value to control the image size
  height: auto;
}
*/

.slide-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.each-fade {
  width: 100%;
  height: 100%;
}

.image-container {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
